nav{
    height: 100vh;
}
.chart-container {
    width: 1000px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    margin: 20px auto; /* Center the container */
}

canvas {
    width: 100% !important; /* Override the default width */
    height: 100% !important; /* Override the default height */
}
