<!---<div>
  <form   [formGroup]="UserForm" (ngSubmit)="handlesubmit()">
      
    <div>
      <label for="">Full Name :</label>
      <input type="text"  name="fullname" placeholder="enter name" FormControlName="fullname">
    </div>

    <div>
      <label for="">Email :</label>
      <input type="text" name="email" placeholder="enter email" FormControlName="email">
    </div>
    <div>
      <label for="">age :</label>
      <input type="number" name="age"  placeholder="enter age" FormControlName="age">
    </div>
    <div>
      <button type="submit" >Submit</button>
    </div>
  </form>
</div>
{{myPostData[0].id}}------->

<button type="submit" (click)="sendData()">submit</button>